/**
* @description css Media(min) => all:col (?-hide) 577:.col-xm (?-hide) 769:.col-md (?-hide) 993:.col-lg (?-hide) 1201:.col-xl (?-hide)
* @author YuanZiWen
* @since 19/06/17
*/


@media (max-width: 576px) {
  .col-hide {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .col-xm-hide {
    display: none !important;
  }
}
@media (max-width: 993px) {
  .col-md-hide {
    display: none !important;
  }
}

// all
$class-prefix: col-;
@for $n from 1 through 24 {
  // 最小 - 576px
  &.#{$class-prefix}#{$n} {
  float: left;
  width: ($n / 24) * 100%;
  }
}
// all-hide
$class-prefix: offset-;
@for $n from 1 through 24 {
  &.#{$class-prefix}#{$n} {
    float: left;
    margin-left: ($n / 24) * 100%;
  }
}

@media (min-width: 577px) {
  // 577-769
  $class-prefix: col-xm-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      float: left;
      width: ($n / 24) * 100%;
    }
  }

  $class-prefix: offset-xm-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      float: left;
      margin-left: ($n / 24) * 100%;
    }
  }
}
@media (min-width: 769px) {
  // 770-993
  $class-prefix: col-md-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      float: left;
      width: ($n / 24) * 100%;
    }
  }
  $class-prefix: offset-md-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      float: left;
      margin-left: ($n / 24) * 100%;
    }
  }
}
@media (min-width: 993px) {
  //993-1200
  $class-prefix: col-lg-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      float: left;
      width: ($n / 24) * 100%;
    }
  }
  $class-prefix: offset-lg-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      float: left;
      margin-left: ($n / 24) * 100%;
    }
  }
}
@media (min-width: 1201px) {
  //1200 - 无限大
  $class-prefix: col-xl-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      float: left;
      width: ($n / 24) * 100%;
    }
  }
  $class-prefix: offset-xl-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      margin-left: ($n / 24) * 100%;
      float: left;
    }
  }
}