@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin text($fontSize: 14px, $lineHeight: 14px, $color: #666, $fontWeight: 300, $fontFamily: inherit) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  font-family: $fontFamily;
  color: $color;
}

@mixin title($fontSize: 18px, $lineHeight: 20px, $color: #333, $fontWeight: 500, $fontFamily: inherit) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  font-family: $fontFamily;
  color: $color;
}


